/* #region RESET */
*:not(hr){
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

button{
    color: inherit;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
}
/* #endregion RESET */

/* #region DEBUG */
/* body{
    background-color: greenyellow;
}

.row, .flex{
    border: 1px dashed red;
}

.row > *, .flex > *{
    border: 1px dashed blue;
} */
/* #endregion DEBUG */

/* #region FLEX */
.flex{
    display: flex;
}

.grow{
    flex-grow: 1;
}

.shrink{
    flex-shrink: 0;
}

.wrap{
    flex-wrap: wrap;
}
/* #endregion FLEX */

/* #region GENERAL */
:root{
    --footer-h: 90px;
    --aside-line-h:1.7rem;
    --aside-check-border: 6px;
    --padding-aside: 1.6rem;
    --gap: 1rem;
}

body{
    font-family: "Montserrat", sans-serif;
    color: white
}

.container{
    height: calc(100vh - var(--footer-h));
}

i{
    color: inherit
}

li, li > *{
    cursor: pointer;
}

[type="radio"]{
    display: none;
}
/* #endregion GENERAL */

/* #region ASIDE */
aside{
    width: 220px;
    height: 100%;
    background-color: #000000;
    flex-direction: column;
    padding: 0.7rem var(--padding-aside);
    color: #A3A3A3;
    font-size: 0.9rem;
    font-weight: 500;
    overflow: hidden;
}

aside [alt="logo"]{
    width: 85%;
    padding-bottom: 1.5rem
}

aside [alt="logo small"]{
    width: 100%;
    padding-bottom: 1rem;
    display: none;
}

/*primary nav*/
aside label{
    margin-left: calc(-1 * var(--padding-aside));
    padding: 0.8rem;
    padding-left: var(--padding-aside);
    line-height: var(--aside-line-h);
    cursor: pointer;
    & img{
        filter: brightness(65%);
        height: var(--aside-line-h);
        vertical-align: bottom;
    }
}

aside li{
    margin: 0.8rem 0;
}

/*playlist*/
aside h4{
    font-size: large;
    text-transform: uppercase;
    color: white;
    margin-top: 1rem;
    margin-bottom: 0.6rem
}

.new-playlist{
    text-align: left;
    font-weight: 500;
    & span{
        display: inline-block;
        line-height: 2.6rem;
        vertical-align: top;
        font-size: 1rem;
        margin-left: 0.3rem;
    }
}

.actual-playlist{
    overflow-y: auto;
    &::-webkit-scrollbar{
        width: 0.5rem;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #A3A3A3;
    }
}

/*user*/
.user{
    margin-top: auto
}

.download{
    margin-top: 1rem;
}

[alt="download"]{
    width: 1.3rem;
    vertical-align: middle;
    margin-right: 0.3rem;
    filter: brightness(65%)
}

hr{
    border-color: #A3A3A3;
    margin: 0.5rem 0;
}

.circle{
    background-color: #A3A3A3;
    width: 1.8rem;
    height: 1.8rem;
    overflow: hidden;
    border-radius: 50%;
    padding: 0.2rem;
    margin-right: 0.5rem;
    display: inline-block;
    vertical-align: middle;
}

.user .name{
    font-size: 0.9rem;
    font-weight: 600;
    color: white;
    line-height: 2rem;
    vertical-align: middle;
}

/*effects*/
[type="radio"] ~ label:hover {
    color: white;
    & img{
        filter: none;
    }
}

.actual-playlist li:hover, .new-playlist:hover, .download:hover{
    color: white;
    & [alt="download"]{
        filter: none
    }
}

aside [type="radio"]:checked ~ label{
    border-left: var(--aside-check-border) solid greenyellow;
    padding-left: calc(var(--padding-aside) - var(--aside-check-border));
    color: white;
    & img{
        filter: none;
    }
}
/* #endregion ASIDE */

/* #region MAIN */
main{
    height: 100%;
    background-color: #141922;
    overflow-y: auto;
    &::-webkit-scrollbar{
        width: 1rem;
    }
    &::-webkit-scrollbar-thumb {
        border-right: 6px solid transparent;
        background-color: #A3A3A3;
        background-clip: padding-box;
    }
}

/* update */
.update{
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    height: 70px;
    padding: 0 1rem;
    position: sticky;
    z-index: 999;
    top: 0px;
    justify-content: flex-end;
    & button{
        align-self: center;
        padding: 0.5rem 1rem;
        text-transform: uppercase;
        border: 1px solid white;
        border-radius: 50px;
    }
    & button:hover{
        font-size: 1rem;
        box-shadow: 0 0 5px 1px white;
    }
}

/* secondary nav */
.secondary-nav{
    padding: 1rem;
    font-size: 0.9rem;
    color: #A3A3A3;
    & ul > * + *{
        margin-left: 1rem;
    }
}

.secondary-nav ul{
    flex-wrap: wrap;
    justify-content: center;
}

.secondary-nav li{
    text-transform: uppercase;
    white-space: nowrap;
    margin: 0.5rem;
}

.barret{
    width: 40%;
    height: 4px;
    background-color: greenyellow;
    margin: 5px auto;
    display: none
}

/*albums*/
.music{
    padding: 1rem 2rem;
}

.recent h2{
    margin-bottom: 1.5rem;
}

.for > .sub, .popular > .sub{
    margin: 1rem 0;
    color: #A3A3A3;
}

.row:has(.AlbumCard){
    gap: var(--gap);
    align-items: flex-start;
    flex-wrap: wrap;
}

.AlbumCard-imgContainer{
    position: relative;
}

.AlbumCard i{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.AlbumCard{
    width: calc(100% / 6 - (var(--gap)) * 5 / 6);
    text-align: center;
    & .AlbumCard-img{
        width: 100%;
    }
    & .AlbumCard-sub{
        color: #A3A3A3;
        font-size: 0.9rem;
    }
    & > * + *{
        padding-top: 0.3rem;
    }
}

.AlbumCard--circle{
    border-radius: 50%;
    overflow: hidden;
}

/*effects*/
main [type="radio"]:checked ~ label .barret{
    display: block;
}

.AlbumCard-imgContainer:hover{
    & img{
    filter: brightness(45%);
    }
    & i{
    display: block;
    }
}

/* #endregion MAIN */

/* #region FOOTER */
footer{
    height: var(--footer-h);
    background-color: aqua;
}
/* #endregion FOOTER */

/* #region RESPONSIVE */
@media screen and (max-width: 1100px) {
    /*aside same as desktop*/

    /*albums*/
    .AlbumCard{
        width: calc(100% / 4 - var(--gap) * 3 / 4);
    }
}

@media screen and (max-width: 700px) {
    /*aside same as desktop*/

    /*albums*/
    .AlbumCard{
        width: calc(100% / 2 - var(--gap) * 1 / 2);
    }
}

@media screen and (max-width: 600px) {
    /* aside */
    aside{
        width: 80px;
        text-align: center;
        & *:is(span, .new-playlist, .actual-playlist, h4, [alt="logo"]){
        display: none;
        }
    }

    aside [alt="logo small"]{
        display: inline-block;
    }

    aside hr{
        margin: 0.6rem calc(-1 * 0.7rem);
    }

    /*albums same as 700px*/
}

/* #endregion RESPONSIVE */


