/* #region RESET */
* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}
/* #endregion RESET */

/* #region DEBUG */
body{
    background-color: greenyellow;
}

.row, .flex{
    border: 1px dashed red;
}

.row > *, .flex > *{
    border: 1px dashed blue;
}
/* #endregion DEBUG */

/* #region FLEX */
.flex{
    display: flex;
}

.grow{
    flex-grow: 1;
}

.wrap{
    flex-wrap: wrap;
}
/* #endregion FLEX */

/* #region GENERAL */
:root{
    --footer-h: 90px;
}

body{
    font-family: "Montserrat", sans-serif;
}
/* #endregion GENERAL */

/* #region MAIN */
.container{
    height: calc(100vh - var(--footer-h));
}

aside{
    width: 200px;
    height: 100%;
    background-color: green;
}

main{
    height: 100%;
    background-color: blueviolet;
}
/* #endregion MAIN PART */

/* #region FOOTER */
footer{
    height: var(--footer-h);
    background-color: aqua;
}
/* #endregion FOOTER */


